<mat-card class="full-height custom-card">
    <mat-card-header>
        <mat-card-title>
            Ranking por aluno
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="list-container">
            <mat-list role="list" *ngFor="let rank of rankingDto">
                <mat-list-item role="listitem"> 
                    <mat-icon *ngIf="rank.ranking === 1" matListItemIcon style="color: gold;">emoji_events</mat-icon>
                    <mat-icon *ngIf="rank.ranking === 2" matListItemIcon style="color: silver;">looks_two</mat-icon>
                    <mat-icon *ngIf="rank.ranking === 3" matListItemIcon style="color: burlywood;">looks_3</mat-icon>
                    <mat-icon *ngIf="rank.ranking !== 1 && rank.ranking !== 2 && rank.ranking !== 3" matListItemIcon style="color: white">assignment_turned_in</mat-icon>
                    <span matListItemTitle style="color: white;" class="d-flex align-items-center">
                        <span>{{ rank.ranking }}° - {{ rank.squadName }} | {{ rank.studentName }}</span>
                        <span style="margin-left: auto;">Nota Final: {{ rank.score | number:'1.1-1'}}</span>
                    </span>
                    <span matListItemLine style="color: white;" class="d-flex mt-3">
                        Rampa: {{ getRamp(rank.rampDistance) }} | Tração: {{ getTraction(rank.tractionWeight) }} | Velocidade: {{ getSpeed(rank.speedTime) }}
                    </span>                           
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>

    <ng-container *ngIf="rankingDto.length === 0">
        <span class="d-flex justify-content-center">Não existem dados ainda, por favor insira valores para exibir o ranking.</span>
    </ng-container>
</mat-card>
