/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; overflow: hidden}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #e9eff5; }

.custom-padding {
    padding: 0px 16px;
}

.custom-color {
    background-color: rgb(21, 19, 22);
}

.full-height {
    height: 85vh;
}

:host ::ng-deep .mdc-button .mdc-button__label {
    color: white !important;
}

:root {
    --mdc-checkbox-disabled-selected-icon-color: rgb(255, 0, 76);
    --mdc-checkbox-disabled-unselected-icon-color: rgb(255, 0, 76);

    --mdc-checkbox-selected-checkmark-color: white ;
    --mdc-checkbox-selected-focus-icon-color: white ;
    --mdc-checkbox-selected-hover-icon-color: white ;
    --mdc-checkbox-selected-icon-color: white ;
    --mdc-checkbox-selected-pressed-color: white ;

    --mdc-checkbox-unselected-focus-icon-color: white ;
    --mdc-checkbox-unselected-hover-icon-color: white;
    --mdc-checkbox-unselected-icon-color: white ;

    --mdc-checkbox-selected-focus-state-layer-color: white ;
    --mdc-checkbox-selected-hover-state-layer-color: white ;
    --mdc-checkbox-selected-pressed-state-layer-color: white ;

    --mdc-checkbox-unselected-focus-state-layer-color: white ;
    --mdc-checkbox-unselected-hover-state-layer-color: white ;
    --mdc-checkbox-unselected-pressed-state-layer-color: white ;
  }