<div class="d-flex flex-row justify-content-center mt-2 m-2" *ngIf="squads">
    <div *ngFor="let squad of squads" class="me-5">
        <mat-card class="general-card" (click)="openExam(squad.id)">
            <mat-card-header>
              <mat-card-title>{{squad.name}}</mat-card-title>
              <mat-card-subtitle>N° {{squad.carNumber}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="mt-2">
                    <mat-chip-listbox aria-label="student selection">
                        <mat-chip *ngFor="let student of squad.student">
                            {{student.name}}
                        </mat-chip>
                    </mat-chip-listbox>
                </div>            
            </mat-card-content>
        </mat-card>
    </div>
</div>
