.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
}

.general-card {
    border-left: 4px solid;
    box-shadow: none;
}

.custom-margin {
    margin-left: 2rem !important;
    cursor: pointer;
}

.custom-card {
    border-width: 1px;
    box-shadow: none;
    border-color: rgb(155, 155, 155);
    background-color: transparent;
    color: white;
}

.subtitle {
    color: #7a7e7d
}

.red-button {
    background-color: rgb(255, 0, 76);
}

:host ::ng-deep .mdc-button .mdc-button__label {
    color: white !important;
}