<div class="row mt-2 ms-4">
    <h2 style="color: white;">Selecione a equipe abaixo</h2>
</div>

<div class="row" *ngIf="squads">
    <div class="col-lg-7">
        <div class="row">
            <div *ngFor="let squad of squads" class="col-lg-6 col-md-6 col-sm-12 mt-2">
                <mat-card class="custom-margin custom-card" (click)="openSquadDetails(squad)">
                    <mat-card-header>
                        <mat-card-title>{{squad.name}}</mat-card-title>
                    </mat-card-header>
                </mat-card>
                <mat-card-content></mat-card-content>
                <mat-card-footer></mat-card-footer>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <ng-container *ngIf="squadIsOpened">
            <div class="row">
                <mat-card class="h-100 custom-card mt-2">
                    <mat-card-header class="mb-2">
                        <mat-card-title>{{squadSelected?.name}}</mat-card-title>
                        <mat-card-subtitle class="subtitle">N° {{squadSelected?.carNumber}}</mat-card-subtitle>
                    </mat-card-header>
        
                    <mat-divider style="background-color: white;"></mat-divider>
    
                    <mat-card-content class="mt-2 mb-2">
                        <ng-container *ngIf="squadSelected?.student?.length! > 0">
                            <mat-chip-listbox aria-label="student selection">
                                    <div class="row">
                                        <div *ngFor="let student of squadSelected?.student">
                                            <mat-chip class="col-md-12">
                                                {{student.name}}
                                            </mat-chip>                                            
                                        </div>
                                    </div>
                            </mat-chip-listbox>
                        </ng-container>
                        <ng-container *ngIf="squadSelected?.student?.length! === 0">
                            <span>Não foi encontrado nenhum estudante para essa equipe.</span>
                        </ng-container>
                    </mat-card-content>
    
                    <mat-divider style="background-color: white;"></mat-divider>
    
                    <mat-card-actions class="mt-1 d-flex justify-content-start">
                        <button mat-stroked-button class="red-button ms-1" (click)="goToRamp()" matTooltip="Ir para prova de ra">Rampa</button>
                        <button mat-stroked-button class="red-button ms-1" (click)="goToTraction()">Tração</button>
                        <button mat-stroked-button class="red-button ms-1" (click)="goToSpeed()">Velocidade</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </ng-container>
    </div>
</div>
