.remove-overflow {
    overflow-x: hidden;
    overflow-y: hidden !important;
}

.readonly {
    cursor: not-allowed;

    input {
        opacity: 0.5 !important;
        cursor: not-allowed;
    }
}

.ramp-card {
    border-left: 4px solid rgb(211, 236, 68);
    box-shadow: none;
    margin-left: 2rem !important;
}

.full-height {
    height: 90vh;
}