<div class="row mt-2 m-1">
    <div class="col-lg-6">
        <mat-card class="custom-card full-height">
            <mat-card-header>
                <mat-card-title>
                    Tração
                </mat-card-title>
            </mat-card-header>
        
            <mat-divider></mat-divider>
        
            <mat-card-content>
                <div [formGroup]="tractionForm" class="remove-overflow">
                    <div class="row m-1 mt-3">
                        <mat-form-field class="col-md-12" appearance="outline" >
                            <mat-label>Peso(gr)</mat-label>
                            <input matInput formControlName="weight">
                            <mat-icon matPrefix class="custom-prefix">bolt</mat-icon>
                        </mat-form-field>
                    </div>
                
                    <div>
                        <div class="row m-1">
                            <h1>
                                <strong>Regras</strong>
                            </h1>
                        </div>
                        <div class="row m-1">
                            <div class="col custom-font">
                                <span>Quanto maior for a peso carregado(gr), melhor será sua posição no ranking.</span>
                            </div>
                        </div>
                    </div>
                </div>   
            </mat-card-content>
        
            <mat-card-actions class="mt-auto">
                <button mat-stroked-button class="red-button" (click)="saveTraction()">Salvar</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-lg-6">        
        <app-ranking [title]="'Ranking de Tração'" [rankingDto]="rankingDto"></app-ranking>
    </div>
</div>