<div class="row mt-2 m-1">
    <div class="col-lg-6">
        <mat-card class="custom-card full-height">
            <mat-card-header>
                <mat-card-title>
                    Tração
                </mat-card-title>
            </mat-card-header>
        
            <mat-divider></mat-divider>
        
            <mat-card-content>
                <div [formGroup]="tractionForm" class="remove-overflow">
                    <div class="row m-1 mt-3">
                        <mat-form-field class="col-md-12" appearance="outline" >
                            <mat-label>Peso</mat-label>
                            <input matInput formControlName="weight">
                        </mat-form-field>
                    </div>
                
                    <div class="custom-padding">     
                        <strong>Ranking:</strong> {{ getRank() }}                    
                    </div>
                    <div class="custom-padding">
                        <strong>Nota:</strong> {{ getScore() }}
                    </div>
                </div>   
            </mat-card-content>
        
            <mat-card-actions class="mt-auto">
                <button mat-stroked-button class="red-button" (click)="saveTraction()">Salvar</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-lg-6">        
        <app-ranking [title]="'Ranking de Tração'" [rankingDto]="rankingDto"></app-ranking>
    </div>
</div>