.ramp-card {
    width: 50%;
    border-left: 4px solid rgb(211, 236, 68);
    box-shadow: none;
}

.speed-card {
    width: 50%;
    border-left: 4px solid rgb(238, 188, 81);
    box-shadow: none;
}

.traction-card {
    width: 50%;
    border-left: 4px solid rgb(71, 154, 223);
    box-shadow: none;
}

.custom-card {
    border-width: 1px;
    box-shadow: none;
    border-color: rgb(155, 155, 155);
    background-color: transparent;
    color: white;
}

.red-button {
    background-color: rgb(255, 0, 76);
}