.ramp-card {
    width: 50%;
    border-left: 4px solid rgb(211, 236, 68);
    box-shadow: none;
}

.speed-card {
    width: 50%;
    border-left: 4px solid rgb(238, 188, 81);
    box-shadow: none;
}

.traction-card {
    width: 50%;
    border-left: 4px solid rgb(71, 154, 223);
    box-shadow: none;
}