<div class="d-flex flex-row justify-content-center mt-2 m-1">
    <mat-card class="me-3 ramp-card">
        <mat-card-header>
            <mat-card-title>
                Rampa
            </mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
            <app-ramp [entity]="entity.ramp" [id]="id" [rampForm]="rampForm"></app-ramp>
        </mat-card-content>

        <div class="d-flex flex-row justify-content-end m-1">
            <button mat-stroked-button (click)="saveRamp()">Salvar</button>
        </div>
    </mat-card>

    <mat-card class="me-3 traction-card">
        <mat-card-header>
            <mat-card-title>
                Tração
            </mat-card-title>
        </mat-card-header>
        
        <mat-divider></mat-divider>

        <mat-card-content>
            <app-traction [entity]="entity.traction" [id]="id" [tractionForm]="tractionForm"></app-traction>
        </mat-card-content>

        <div class="d-flex flex-row justify-content-end m-1">
            <button mat-stroked-button (click)="saveTraction()">Salvar</button>
        </div>
    </mat-card>

    <mat-card class="me-3 speed-card">
        <mat-card-header>
            <mat-card-title>
                Velocidade
            </mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
            <app-speed [entity]="entity.speed" [id]="id" [speedForm]="speedForm"></app-speed>
        </mat-card-content>

        <div class="d-flex flex-row justify-content-end m-1">
            <button mat-stroked-button (click)="saveSpeed()">Salvar</button>
        </div>
    </mat-card>
</div>

<div class="d-flex flex-row justify-content-center">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
                Ranking Geral    
            </mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
            <mat-list role="list" *ngFor="let rank of rankingDto">
                <mat-list-item role="listitem"> 
                    <span matListItemTitle>{{ rank.ranking }}° - {{ rank.squadName}}</span>
                    <span matListItemLine>Nota: {{ rank.score}}</span>                
                </mat-list-item>
              </mat-list>
        </mat-card-content>
    </mat-card>
</div>






