<mat-card class="full-height custom-card">
    <mat-card-header>
        <mat-card-title>
            {{title}}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-list role="list" *ngFor="let rank of rankingDto">
            <mat-list-item role="listitem"> 
                <span matListItemTitle style="color: white;">{{ rank.ranking }}° - {{ rank.squadName}}</span>
                <span matListItemLine style="color: white;">Nota: {{ rank.score}}</span>                
            </mat-list-item>
            </mat-list>
    </mat-card-content>

    <ng-container *ngIf="rankingDto.length === 0">
        <span class="d-flex justify-content-center">Não existem dados ainda, por favor insira valores para exibir o ranking.</span>
    </ng-container>
</mat-card>